
.header{
	padding-top: 180px;
	padding-bottom: 180px;

}

@media(max-width: 700px){
	.header{padding-top: 150px; padding-bottom: 100px;}
}



.hemingly{
	height: 800px;
}

.education{
	height: 800px;
}

.miscellaneous{
	height: 800px;
}

.vCenter{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.hCenter {
	margin: 0, auto;
	width: 375px;
}

.tCenter{
	text-align: center;
}

.eg{
	border-radius: 4px;
    width: 100%;
    max-width: 450px;
	box-shadow: 2px 2px 5px #EEE;


}


html{
	background-color: #F5F4F0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}