.project-title{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.project:hover h3{
	color: #0FA0CE
}

img{
	max-width: 100%;
}

.inline{
	display: inline;
}

.project{
	padding-bottom: 20px;
	padding-top: 20px;
}

.project img{
	box-shadow: 2px 2px 3px #AAA;
	border-radius: 4px;
}

@media(max-width: 500px){
	.project{
	padding-bottom: 15px;
	padding-top: 15px;
}

}

.head{
	display: inline-block;
}

@media(max-width: 1133px){
	#head1{
		display: none;
	}
	.headspace{
	text-align: center;
	}
}
@media(max-width: 941px){
	#head1, #head2{
		display: none;
	}
	.headspace{
	text-align: center;
	}
}
@media(max-width: 751px){
	#head1, #head2, #head3{
		display: none;
	}
	.headspace{
	text-align: center;
	}
}

@media(max-width: 549px){
	.namespace{
		text-align: center;
	}
}




.content{
	background-color: #EDECEB;
	margin: 10px 10px 10px 10px;
	/*outline: 1px solid #CFCFCF;*/
}


/*header and footer layout*/
.header{
	padding-top: 250px;
	padding-bottom: 220px;
	background-color: #EDECEB;
}

@media(max-width: 700px){
	.header{padding-top: 120px; padding-bottom: 60px;}
}

@media(max-width: 400px){
	.header{padding-top: 100px; padding-bottom: 50px;}
}

.footer{
	padding: 50px 40px 30px 40px;

}


/*section title layout*/
.title{
	position: relative;

}
.date{
	position: absolute;
	bottom: 0;
	right: 0;
}
@media(max-width: 500px){
	.title{
		position: static;
	}
	.date{
		position: static;
	}

}

/*section sizes*/
.hemingly{
	height: 700px;
	background-color: #EDECEB;
	/*background-color: red;*/
}

.imagestuff{
	height: 1000px;
	background-color: #EDECEB;
}

.education{
	height: 500px;
	background-color: #EDECEB;
	/*background-color: blue;*/
}

.miscellaneous{
	height: 1000px;
	background-color: #EDECEB;
	/*background-color: green;*/
}

@media(max-width: 800px){
	.miscellaneous{
		height: 700px;
	}
	.education{
		height: 650px;
	}
	.imagestuff{
		height: 1100px;
	}

}

@media(max-width: 500px){
	.imagestuff{
		height: 1700px;
	}

}


/*centering stuff*/
@media (max-width: 550px){
	.vCenter{
		padding-top: 120px;
	}
}
@media(min-width: 550px){
	.vCenter{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.sub{
	color:#999;
}

.hCenter {
	margin: 0, auto;
	width: 375px;
}

.tCenter{
	text-align: center;
}


html{
	background-color: #fff;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}