.date{
	margin-top: 10px;
}

.sansSmallcaps{
	font-family: "ff-meta-SC-web-pro";
}
.serifSmallcaps{
	font-family: "ff-meta-serif-SC-web-pro";
}

header a{
	text-decoration: underline;
	font-weight: 500;
}

/*meDescribe*/
.meDescribe li{
	display: inline-block;
}

.meDescribe{
	margin-top: 200px;
	margin-bottom: 200px;
}

.meDescribe h1{
	margin-top: -8px;
}

.nav ul{
float: right;
}

.nav a{
	font-size: 1.8rem; 
	font-weight: 400; 
	text-transform: lowercase; 
	margin-bottom: 0;
}

.top{
	margin-top: 50px;
	margin-bottom: 100px;
}

/*case*/
.line{
	padding-left: 10px;
	width: 100%
}

table{
	margin-top: -25px;
	margin-bottom: 20px;
}

.case{
	margin-bottom: 100px;
}

.case h3{
	display: inline-block;
}


/*projectTags*/
.projectTags li{
	display: inline-block;
	line-height: 1.2;
}

.projectTags{
	margin-top: 20px;
	margin-bottom: 20px;

}

.projectTags h3, li{
	color: #727272;
}

.summary{
	margin-top: 20px;
}
.shortSummary{
	display: none;
}

.cta{
	margin-top: 20px;
}


/*otherProjects*/
.otherProjects{
	margin-bottom: 100px;
}

.smallTitle{
	margin-top: 10px;
}

.smallTitle h1{
	display: inline;
}
.smallTitle h3{
	display: inline;
	float: right;
	margin-top: 4px;
	color: #727272;
}

.otherProjects p{
	clear: both;
	margin-top: 20px;
}


/*footer*/
.caseFoot{
	padding-top: 80px;
	padding-bottom: 80px;
}

.footerbg{
	background-color: #F5F5F5;
	padding-bottom: 40px;
	padding-top: 40px;
}

footer a{
	line-height: 1.8;
}

.smallContact{
	display: none;
}

/*responsive*/
@media (max-width: 1100px) and (min-width: 550px)  {
	.summary{
		display: none;
	}
	.shortSummary{
		display: block;
	}
	.projectTags{
		display: none;
	}
	.bigContact{
		display: none;
	}
	.smallContact{
		display: block;
	}
}


/*caseStudy*/
.caseStudy .bigP{
	font-family:"ff-meta-serif-web-pro";
	font-size:2.6rem;
	line-height: 1.8;
	color: #222;
}

.caseStudy p{
	font-family:"ff-meta-serif-web-pro";
	font-size:1.8rem;
	line-height: 1.8;
	color: #222;
}

.caseStudy h1{
	padding-top: 70px;
	padding-bottom: 20px;

	text-align: center;
}

.caseStudy h2{
	padding-top: 20px;
	padding-bottom: 20px;

	text-align: center;
}

.caseStudy footer h1{
	font-size: 3.2rem;
	padding-top: 0px;
	padding-bottom: 0px;
}


.caseStudy .projectComments{
	margin-top: 10px;
}

.projectComments p{
	font-family: "ff-meta-web-pro";
	font-size:1.4rem;
	line-height: 1.6;
}

.projectComments h3{
	font-size:1.4rem;
	font-weight: 700;
}

.caseStudy nav li{
	display: inline-block;
	margin-right: 30px;
}

.caseStudy nav ul{
	text-align: center;
	margin-top: -15px;
}

.caseStudy nav .pull-left , .caseStudy nav .pull-right  {

	margin-top: 32px;
}

.caseStudy nav{
	height: 80px;
	background-color: white;
}

nav.sticky {
	position: fixed;
	top: 0;
	z-index: 10;
	width:100%;
}


.caseStudy header{
	padding-top: 80px;
	margin-bottom: 40px;

}

.caseStudy .grey{
	background-color: #F5F5F5;
}

.caseStudy .greyLine{
	border-bottom: solid 2px #F5F5F5;
}

.caseStudy main{
	margin-top: 40px;
	margin-bottom: 80px;
}

.caseStudy main li{
	font-family:"ff-meta-serif-web-pro";
	font-size:1.8rem;
	line-height: 2.2;
	color: #222;
	margin-left: 20px;
}

.caseStudy main ol{
	list-style-type: decimal;
	margin-bottom: 20px;
}

.caseStudy main ul{
	list-style-type: square;
	margin-bottom: 20px;
}

.hero{
	margin-bottom: 20px;
	text-align: center;
}

.caseStudy figure{
	margin-bottom: 30px;
	margin-top: 30px;
}

.caseStudy main a{
	font-family:"ff-meta-serif-web-pro";
	text-decoration: underline;
	font-size:1.8rem;
	line-height: 1.8;
	font-weight: 500;
	color: #222;
}

.caseStudy main span a{
	font-family:"ff-meta-web-pro";
	font-size:1.4rem;
	line-height: 1.6;
	font-weight: 500;
	color: #222;
}

nav .pull-right, nav .pull-left{
	margin: 0 20px;
	opacity: 0.5;
	line-height: 1;
}

.caseStudy .attention{
	font-weight: 700 !important;
}


/*side note and underline from tufte-css*/

body{
	counter-reset: sidenote-counter;
}



.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -40%;
                         width: 30.6666666667%;
                         margin-top: 0;
                         margin-bottom: 0;
                         font-size: 1.4rem;
                         line-height: 1.6;
                         opacity: 0.7;
                         font-family: "ff-meta-web-pro";
                         vertical-align: baseline;
                         position: relative; }


.marginnote{
	margin-top: 40px;
}

.table-caption { float:right;
                 clear:right;
                 margin-right: -40%;
                 width: 30.6666666667%;
                 margin-top: 0;
                 margin-bottom: 0;
                 font-family: "ff-meta-web-pro";
                 font-size: 1.4rem;
                 line-height: 1.6; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                           font-family: "ff-meta-web-pro";
                                           position: relative;
                                           vertical-align: baseline;
                                           background-color: white;
                                           margin-right: 5px; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1.2rem;
                         top: -0.6rem;
                         padding-left: 5px;
                         padding-right: 5px;
                         padding-top: 0px;
                         padding-bottom: 3px;
                         /*background-color: rgba(0, 0, 0, 0.2);*/

                     }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: 1rem;
                   background-color: white; }

.noteLine{
	margin-top: 0px;
	margin-bottom: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.7);
	max-width: 70px;
	margin-left: 0px;
}


#footer h1{
	text-align: left;

}



input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) { label.margin-toggle:not(.sidenote-number) { display: inline; }
                            .sidenote, .marginnote { display: none; }
                            .margin-toggle:checked + .sidenote,
                            .margin-toggle:checked + .marginnote { display: block;
                                                                   float: left;
                                                                   left: 1rem;
                                                                   clear: both;
                                                                   width: 95%;
                                                                   margin: 1rem 2.5%;
                                                                   vertical-align: baseline;
                                                                   position: relative; }
                            label { cursor: pointer; }
                            pre.code { width: 90%;
                                       padding: 0; }
                            .table-caption { display: block;
                                             float: right;
                                             clear: both;
                                             width: 98%;
                                             margin-top: 1rem;
                                             margin-bottom: 0.5rem;
                                             margin-left: 1%;
                                             margin-right: 1%;
                                             vertical-align: baseline;
                                             position: relative; }
                            div.table-wrapper, table, table.booktabs { width: 85%; }
                            div.table-wrapper { border-right: 1px solid #efefef; }
                            img { width: 100%; } }


.caseStudy main a:link, .caseStudy main a:visited, .caseStudy header a:link, .caseStudy header a:visited  { color: inherit; }

.caseStudy main a:link , .caseStudy header a:link { text-decoration: none;
         background: -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#ffffff, #ffffff), -webkit-linear-gradient(#333, #333);
         background: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient(#333, #333);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #ffffff, -0.03em 0 #ffffff, 0 0.03em #ffffff, 0 -0.03em #ffffff, 0.06em 0 #ffffff, -0.06em 0 #ffffff, 0.09em 0 #ffffff, -0.09em 0 #ffffff, 0.12em 0 #ffffff, -0.12em 0 #ffffff, 0.15em 0 #ffffff, -0.15em 0 #ffffff;
         background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

.caseStudy main a:link::selection, .caseStudy header a:link::selection, { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                    background: #b4d5fe; }

.caseStudy main a:link::-moz-selection , .caseStudy header a:link::-moz-selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                         background: #b4d5fe; }



@media (max-width: 650px) and (min-width: 550px){
	.shortSummary{
		display: none;
	}
}

@media (max-width: 680px) and (min-width: 550px){
	.smallTitle h3{
		display: none;
	}

}

@media (max-width: 680px){
	nav .row{
		display: none;
	}
	.caseStudy .bigP{
		font-family:"ff-meta-serif-web-pro";
		font-size:2.2rem;
		line-height: 1.8;
		color: #222;
	}

}

@media (min-width: 680px){
	nav .smallRow{
		display: none;
	}

}

@media(max-width: 760px){
	.sidenote-number:after {margin-left: 2px; border: 1px solid rgba(0, 0, 0, 0.2);}
	.noteLine{display: none;}
	.sidenote:before {top: -0.2rem;}
}