/*meDescribe*/
.meDescribe li{
	display: inline-block;
}

.meDescribe{
	margin-top: 200px;
	margin-bottom: 200px;
}

.nav ul{
float: right;
}

.nav a{
	font-size: 1.8rem; 
	font-family:"ff-meta-SC-web-pro";
	font-weight: 400; 
	text-transform: lowercase; 
	margin-bottom: 0;
}

.top{
	margin-top: 50px;
	margin-bottom: 100px;
}

/*case*/
.line{
	padding-left: 10px;
	width: 100%
}

table{
	margin-top: -25px;
	margin-bottom: 20px;
}

.case{
	margin-bottom: 100px;
}

.case h3{
	display: inline-block;
}


/*projectTags*/
.projectTags li{
	display: inline-block;
	line-height: 1.2;
}

.projectTags{
	margin-top: 20px;
	margin-bottom: 20px;

}

.projectTags h3, li{
	color: #727272;
}

.summary{
	margin-top: 20px;
}
.shortSummary{
	display: none;
}

.cta{
	margin-top: 20px;
}


/*otherProjects*/
.otherProjects{
	margin-bottom: 100px;
}

.smallTitle{
	margin-top: 10px;
}

.smallTitle h1{
	display: inline;
}
.smallTitle h3{
	display: inline;
	float: right;
	margin-top: 4px;
	color: #727272;
}

.otherProjects p{
	clear: both;
	margin-top: 20px;
}


/*footer*/
.footerbg{
	background-color: #F5F5F5;
	padding-bottom: 40px;
	padding-top: 40px;
}

footer a{
	line-height: 1.8;
}

.smallContact{
	display: none;
}

/*responsive*/
@media (max-width: 1100px) and (min-width: 550px)  {
	.summary{
		display: none;
	}
	.shortSummary{
		display: block;
	}
	.projectTags{
		display: none;
	}
	.bigContact{
		display: none;
	}
	.smallContact{
		display: block;
	}
}

@media (max-width: 650px) and (min-width: 550px){
	.shortSummary{
		display: none;
	}
}

@media (max-width: 680px) and (min-width: 550px){
	.smallTitle h3{
		display: none;
	}

}


/*caseStudy typography*/

.caseStudy .bigP{
	font-family:"ff-meta-serif-web-pro";
	font-size:2.6rem;
	line-height: 1.8;
	color: #222;
}

.caseStudy p{
	font-family:"ff-meta-serif-web-pro";
	font-size:1.8rem;
	line-height: 1.8;
	color: #222;
}

.caseStudy .projectComments{
	margin-top: 10px;
}

.caseStudy nav li{
	display: inline-block;
	margin-right: 30px;
}

.caseStudy nav ul{
	text-align: center;
}

.caseStudy nav{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
}

.caseStudy header{
	padding-top: 80px;
	margin-bottom: 40px;

}

.caseStudy .grey{
	background-color: #F5F5F5;
}

.caseStudy .greyLine{
	border-bottom: solid 2px #F5F5F5;
}

.caseStudy main{
	margin-top: 40px;
}

.caseStudy .hero{
	margin-bottom: 40px;
}

