/*typography*/
html {
  font-size: 62.5%; }
body {
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.8em;
  font-weight: 400;
  font-family: "proxima nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #686868; }

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 2rem;
  }

h1{font-size: 4rem; line-height: 1.2;}
h2{font-size: 2.5rem;}
h6{font-size: 1	rem; margin: 0; color: #a2a2a2}

p {
  margin-bottom: -20px;
  line-height: 1.5;	
}

#planRecName{
	display: inline-block;
	color: #59cb59;
	margin: 0;
}
#headline{
	color: #2bb656;
}

.trial h2{
  color: #2bb656;
  text-align: center;
}

.demoContent h1{
	color: white;
	text-align: center;
}

/*sections layout*/
.cta{
	background-color: #2bb656;
	background-image: url("../sproutMark.png");
	background-repeat:no-repeat;
	background-position: left top;
}

.filler{
	padding-top: 80px;
	padding-bottom: 80px;
}

.filler img{
	padding-right: 20px;
	float:left;
}

.grid{
	float: left;	
}
.demo{
	height: 500px;
	width: 50%;
	display: flex;
	align-items: center;
}

.trial{
	width: 50%;
	background-color: #F5FCF6;
}

/*mobile*/
@media (max-width: 750px) {
	.demo, .trial{
		width: 100%;
	}
	.demo{
		height: 600px;
	}

}

@media (max-width: 450px) {
	.demo{
		height: 650px;
	}
}


.demoContent, .planContent{
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	max-width: 80%;
	display: block;

}

.trialContent{
	margin:24px auto;
	max-width: 80%;

}

.planContent{
	display: none;
}

/*table*/
table{
	margin:12px 0px;
	border-left: .15em solid #59cb59;
}

td:nth-child(2){
	color: #2bb656;
	padding-left: 24px;
}

td{
	padding-left: 12px;
}

/*buttons*/
button, input[type=submit]{
  font-family: "proxima nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  padding: 16px 0;
  background-color: #59cb59;
  border: .1111111111em solid transparent;
  line-height: 1;
  vertical-align:middle;
  text-transform:uppercase;
  letter-spacing:0.1em;
  color:white;
  border-radius:.1666666667rem;
  display: block;
  width: 240px;
  transition:background-color 150ms,border-color 150ms,color 75ms ease-out,box-shadow 150ms;
}

button:hover, input[type=submit]:hover{
	background-color: #2bb656;
}

.demoContent button, .trialContent input[type=submit]{
  margin: 0 auto;
}

.planContent button{
	display: inline-block;
	margin-top: 32px;
	margin-right: 12px;
}

#compare{
	background-color: rgba(0, 0, 0, 0.0);
	border: .2rem solid #2bb656;
	color: #2bb656;
}

#compare:hover{
	background-color: #2bb656;
	color: white;
}

.demoContent button{
	background-color: rgba(0, 0, 0, 0.0);
	border: .2rem solid white;
	margin-left: auto;
	margin-right: auto;
}

.demoContent button:hover {
	background-color: white;
	color: black;
}



/*input fields*/
ul{
  padding-left:0;
  margin-top:16px;
}

li{
	list-style: none;
}

li li{
	display: inline-block;
	margin-bottom: 32px;
}

label{
  background-color:#F3F4F4;
  padding: 16px 16px;
}

label:hover{
	background-color:#EDEDED;
}