---
layout: default
title: "Work"
---
<h1 class="pageHeader">Work</h1>

{% for item in site.data.work %}
  <section class="section-wide no-hover-section">
    <img src="{{ item.images[0] }}" class="project-image">
    <div class="main-title-box">
      <h2>{{ item.name }}</h2>
      <h5>{{ item.startDate | date: "%b %y" }}  to  
        {% if item.endDate == "Now" %}
        Today
        {% else %}
        {{ item.endDate | date: "%b %y" }}
        {% endif %}
      </h5>
    </div>
    
    <p>{{ item.description }}</p>
  </section>
{% endfor %}