<footer>
   
    <h6 class="footnote">
        {% if page.author != null %}
        This post was written by {{ page.author }} on {{page.date | date: "%d %b %Y"}} in {{ page.location }}.
        {% endif %}
        Find me elsewhere on <a href="https://twitter.com/zhayitong">Twitter</a>, <a href="https://github.com/yitongzhang">Github</a>, and <a href="https://www.linkedin.com/in/yitongzhang/">Linkedin</a>. Email me at zha.yitong@gmail.com, especially about HCI, design tooling, game design, crypto, immigration, and finding hidden talent. This site was redesigned in 2021. View my old site <a href="/oldsite">here.</a>
    </h6> 
</footer>