body{
	background-color: #F5F4F2;
	color: hsla(0,0%,25%,1);
}



.pullquote{
	font-size: 2.2rem; 
	line-height: 1.5;  
	color: hsla(0,0%,30%,1);
	height: 360px;
	position: relative;
	top: 50%;
	transform:translateY(50%)
}

.pullquote2{
	font-size: 2.2rem; 
	line-height: 1.5;  
	color: hsla(0,0%,30%,1);
	height: 250px;
	position: relative;
	top: 50%;
	transform:translateY(50%)
}


.section{
	margin-left:auto;
	margin-right:auto;

}

.top{
	padding-top: 150px;
}

.mid{
	padding-top: 100px;	
	padding-bottom: 100px;
}

.section.cta{
	text-align: center;
}


.mainsub{
	text-align: center;
	max-width: 100%;
}


.exampletitle{
	font-weight: 800;
	margin-left: 5px;
}

.white{
	color: #E4E4E4;
}

.description{
	text-align: center;
}


.sectiontitle{
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
}

.herotitle{
	font-weight: 700;
	margin-bottom: 5px;
	text-align: center;
}

.subtitle{
	font-weight: 700;
	margin-bottom: 25px;
	text-align: left;
}

.questions{
	font-weight: 700;
	margin-bottom: 5px;
}

.label{
	font-weight: 400;
	font-size: 2.0rem;

}

.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}



a{
	color: #E4E4E4;
	text-decoration: none;
}

@media (min-width: 400px) {
	
	.mainsub{
		text-align: center;
		max-width: 100%;
		margin: 0 auto;
	}

}

@media (min-width: 850px) {

	.mainsub{
		text-align: center;
		max-width: 60%;
		margin: 0 auto;
	}

}

