.current {
    color:$color-primary;
}

.spacer8{height: 8px;}
.spacer16{height: 16px;}
.spacer24{height:24px;}
.spacer40{height:40px;}

body{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin:64px 0px 32px 0px;

    .links{
        display: flex;
    }
    .links h5{
        margin-left: 24px;

    }
    .links h5:first-child{
        margin-left: 0px;
    }
    a{
        transition: color 300ms;
    }
    a:hover{
        color:$color-primary;
    }
}

section{
    border-radius: 16px;
    padding: 16px 16px;
    width: 640px;
    transition: background-color 300ms;
    position: relative;
    left: -16px;
    p{
        margin-bottom: 0px;
    }
}

section:hover{
    background-color: $color-wash;
}

.post-title-box{
    display:flex;
    align-items: baseline;
    margin-bottom: 8px;

    h1{
        margin-right: 12px;
    }

    h2{
        margin-right: 12px;
    }
}

.profilePic{
    height: 96px;
    width: 96px;
    border-radius: 96px;
}
.test{
    display: flex;
    justify-content: center;
}
.masonry{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px;
    padding: 0px;
    background-color: $color-wash;
    width: 160%;
    margin-left: -30%;
}

.masonry-item{
    max-width: 100%;
    border-radius: 1px;
}

figure{
    margin-bottom: 16px;
    figcaption{
        color: $color-secondary;
        font-family: $font-mono;
        font-size: 1.4rem;
        padding:6px 16px;
        position: relative;
        border:1px solid $color-line;
        border-radius: 0px 0px 8px 8px;
        position: relative;
        top: -1px;
    }
    img{
        border-radius: 8px 8px 0px 0px;
        display: block;
        max-width: 100%;
        box-sizing: border-box;
        border:1px solid $color-line;
    }
}

.footnotes{
    border-top: 1px solid $color-line;
    padding-top: 16px;
    margin-top: 16px;
    p{
        position: relative;
        top: -26px;
        text-indent: 16px;
    }
}

.post{
    h2{
        margin-bottom: 16px;
        margin-top: 32px;
        font-size: 2.0rem;
    }
}

.project-image{
    max-width: 100%;
    margin-bottom: 8px;
    height: 288px;
    background-color: $color-wash;
}

.section-wide{
    margin-bottom: 32px;
}

.no-hover-section:hover{
    background-color: white;
}

.table-row{

    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    width: 640px;
    transition: background-color 300ms;
    border-radius: 8px;
    position: relative;
    left: -16px;
    align-items: flex-end;
    justify-content: space-between;
    p{
        margin-bottom: 0px;
        margin-right: 16px;
    }
    .table-metadata{
        display: flex;
        flex-direction: row;
    }
    h6{
        margin-bottom: 2px;
    }
    .table-location{
        margin-right: 16px;
    }
    .table-date{
        width:80px;
        text-align: right;
    }
}

.table-row:hover{
    background-color: $color-wash
}

.achievements{
    margin-top: -12px;
    h2{
        margin-bottom: 4px;
        margin-top: 24px;
    }
}