@media all and (max-width: 700px) {
    h1{
        font-size: 2.4rem;
    }
    nav{
        .links h5{
            margin-left: 16px;
        }
    }
    .post-title-box{
        h1{
            margin-right: 0px;
        }
    }
    .table-row{
        flex-direction: column;
        align-items: flex-start;
        margin:4px 0px;
        .table-location{
            margin-right: 8px;
        }
        .table-date{
            text-align: left;
        }
    }
    .masonry{
        grid-template-columns: 1fr;
        width: 100%;
        margin-left: 0px;
        .masonry-item{
            width: 100%;
        }
    }
    .mailinglist{
        margin: 24px 0px 16px 0px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .whySignUp{
            margin-bottom: 8px;
        }
        #mc_embed_signup{
            margin-left: 0px;
        }
        #mc_embed_signup_scroll{
            justify-content: center;
            width: 100%;
        }
        form{
            width: 100%;
        }
        input[type=email]{
            width: 100%;
        }
        .mc-field-group{
            width:calc( 100% - 100px )
        }
    }
}