@font-face {
    font-family: "Colfax";
    src: url("../fonts/ColfaxWebRegular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Colfax";
    src: url("../fonts/ColfaxWebMedium.woff");
    font-weight: 500;
}

@font-face{
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono-Regular.ttf");
    font-weight: 400;
}

@font-face{
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono-Medium.ttf");
    font-weight: 500;
}

@font-face{
    font-family: "IBMPlexMono";
    src: url("../fonts/IBMPlexMono-SemiBold.ttf");
    font-weight: 600;
}

$font-sans: "Colfax", Sans-Serif;
$font-mono: "IBMPlexMono", monospace;


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-sans;
    color: $color-primary;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 1.8rem;
}
h3{
    font-family: $font-mono;
    font-size:1.4rem;
    color: #bbb;
    font-weight: 400;
}
h4{
    font-size:1.4rem;
    color: #bbb;
    font-weight: 400;
}


p, ul, ol{
    margin-bottom: 16px;
    color: $color-secondary;
    line-height: 2.6rem;
    a{
        color: $color-accent;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

em{
    font-weight: 500;
    color: $color-primary;
}